<settings>
	<category label="Thông tin Account">
		<setting id="usernamef" type="text" label="User name [COLOR gold]fshare.vn[/COLOR] (email)" default=""/>
		<setting id="passwordf" type="text" option="hidden" label="Password [COLOR gold]fshare.vn[/COLOR]" default=""/>
			
	</category>
	<category label="Thông tin khác">
		<setting label="Tự động vào addon khi khởi động XBMC/Kodi (y/n)" type="bool" id="autorun" default="false" />	
		<setting label="Tắt quảng cáo (y/n)" type="bool" id="advertisement" default="false "/>
		<setting id="thumuccucbo" type="folder" label="[COLOR blue]Thư mục cục bộ[/COLOR] ([COLOR gold]MyFolder[/COLOR])" default="" option="writeable"/>		
		<!--setting id="thumucrieng" type="text" label="[COLOR blue]Mục chia sẻ của tôi trên Fshare[/COLOR] ([COLOR gold]ID MyFshare[/COLOR])" default=""/-->
			
	</category>
</settings>
